/*
COLORS:
+Pumpkin orange color:  #E96F33
Default orange color:   #F39C12
Sunflower yellow color: #F1C40F
+Lime green color:      #BDD63A
Moss green color:       #98C235
(+ means non-negotiable colors.)

*/


/* ----------------------------------------------- */
/* ------------------BASIC SETUP------------------ */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #333;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* Content is clipped if it overflows to the left or right */
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* --------------REUSABLE COMPONENTS-------------- */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */

h1 {
    font-size: 300%;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2, h3 {
    font-weight: 600;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 120%;
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #BDD63A;
    border: 1px solid #BDD63A;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #BDD63A;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #FFF;
}

.btn-2:hover,
.btn-2:active {
    border: 1px solid #BDD63A;
}

.btn-2-ghost:hover,
.btn-2-ghost:active {
    border: 1px solid #FFF;
    color: #fff;
}

btn-2:link,
.btn-2:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-2:link,
.btn-2:visited,
input[type=submit] {
    background-color: #F39C12;
    border: 1px solid #F39C12;
    color: #fff;
    margin-right: 15px;
}

.btn-2-ghost:link,
.btn-2-ghost:visited {
    border: 1px solid #F39C12;
    color: #e67e22;
}

.btn-2:hover,
.btn-2:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #FFF;
}

.btn-2:hover,
.btn-2:active {
    border: 1px solid #F39C12;
}

.btn-2-ghost:hover,
.btn-2-ghost:active {
    border: 1px solid #FFF;
    color: #fff;
} 

/* ----------------------------------------------- */
/* --------------------HEADER--------------------- */
/* ----------------------------------------------- */

header {
    height: 44vh;
}

.bg-image {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0)), url(img/FloorPlan.png);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0)), url(img/FloorPlan.png);
    filter: blur(1.5px);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Splash/index navigation */
.hero-text-box {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 800px;
    padding: 20px;
    top: 30%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-90%, -50%);
}

.hero-text-box h1,
.hero-text-box h4 {
    padding-left: 10px;
}

.hero-innerbox {
    border-left: solid 6px #F1C40F;
}

/* Navbar */

.logo {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.index-nav {
    float: left;
    list-style: none;
    margin-top: 5px;
}

.index-nav li {
    display: inline-block;
    margin-left: 0px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 13px;
    color: #000;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #E96F33;
}

/* Main navigation */
nav {
    background-color: #FFF;
    height: 12vh;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 37px;
}

.main-nav li {
    display: inline-block;
    margin-left: 0px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 10px 13px;
    color: #000;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #E96F33;
}

/* ----------------------------------------------- */
/* -------------------BUY TILES------------------- */
/* ----------------------------------------------- */

.tile-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(img/whitetiles.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    filter: blur(px);
    height: 44vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tile-innerbox {
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    width: 800px;
    padding: 20px;
    top: 733px;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-90%, -50%);
}

.tile-innerbox h2,
.tile-innerbox h3,
.tile-innerbox h5 {
    padding-left: 10px;
    padding: 4px;
}

.tile-innerbox h3 {
    color: #98C235;
    text-transform: uppercase;
}

.tile-innerbox h5 {
    border-top: solid 6px #F1C40F; 
    text-transform: uppercase;
    padding-bottom: 20px;
}

/* ----------------------------------------------- */
/* -----------------TESTIMONIALS------------------ */
/* ----------------------------------------------- */
.section-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/Group.png);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.box img {
    display: block;
    width: auto;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    filter: sepia(0.4) saturate(1.3);
}

cite {
    text-align: center;
    font-size: 125%;
    font-style: normal;
    color: #BDD63A;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

blockquote {
    text-align: center;
    font-size: 80%;
    padding: 2%;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}



/* ----------------------------------------------- */
/* ----------------FOUNDERS CIRCLE---------------- */
/* ----------------------------------------------- */

.section-founders {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/HiroSoup.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
